

.right-navbar{
float: right;

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  display: inline-block;
  font-family: arial,sans-serif;
}




#apps{
  height: 20px;
    opacity: 0.60;
    display: inline-block;
}


a{
  font-size: 15px;
  text-decoration: none; 
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color:#4285f4;
  color: white;
  display: inline-block;
    line-height: 28px;
    padding: 0 12px;
}

.footer-navbar{
  float:right;
  margin-right: 20px;

}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgba(0,0,0,.54);
  color: black;
  text-align: center;

}

.searchbar{
position: absolute;
top: 200px;
left:-50px;
  
}

.searchbar input{
  width: 540px;
  height: 35px;
}

.google-logo {
  position:absolute;
  top:125px;
  left:575px;
}