

.right-navbar{
float: right;
margin-right: 20px;
margin-top: 10px;

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  display: inline-block;
  font-family: arial,sans-serif;
}




#apps{
  height: 20px;
    opacity: 0.60;
    display: inline-block;
   
}


a{
  font-size: 13px;
  text-decoration: none; 
  
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color:#4285f4;
  color: white;
  display: inline-block;
    line-height: 28px;
    padding: 0 12px;
}

.footer-navbar{
  float:right;
  margin-right: 20px;

}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgba(0,0,0,.54);
  color: black;
  text-align: center;

}

.searchbar{
position: absolute;
top: 200px;
left:-82px;

  
}

.searchbar input{
  height: 34px;
  width: 360%;
  
}

.google-logo {
  position:absolute;
  top:125px;
  left:575px;
}

.button-2{
  font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #757575;
  display: inline-block;
    line-height: 35px;
    padding: 0 20px;
    position: absolute;
    top:400px;
    left:650px;
}

.button-3{
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #757575;
  display: inline-block;
    line-height: 35px;
    padding: 0 20px;
    position: absolute;
    top:400px;
    left:800px;
}

.beveiliging-image{
  position: absolute;
  top: 450px;
  left: 508px;
}

.beveiliging-text{
  position: absolute;
  top: 450px;
  left: 550px;
  font-family: arial,sans-serif;
  font-size: small;
}

.google-talen{
  position: absolute;
  top: 530px;
  left: 618px;
  font-size:small;
  font-family: arial,sans-serif;
}